<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <form name="loginForm" ng-submit="doLogin()">
  <ion-content>

      <div class="list">

        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" autofocus="" ng-model="loginData.login" name="login" placeholder="email / login" required ng-minlength=5 ng-maxlength=20 ng-blur="isLoginBlurred=true">
        </label>
        <div class="error item-input" ng-show="loginForm.login.$dirty && loginForm.login.$invalid && isLoginBlurred">
          <small ng-show="loginForm.login.$error.required"> Your username is required.</small>
          <small ng-show="loginForm.login.$error.minlength"> Your username is required to be at least 5 characters</small>
          <small ng-show="loginForm.login.$error.maxlength"> Your username cannot be longer than 20 characters </small>
        </div>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" name="password" required ng-minlength=5 ng-maxlength=20 ng-blur="isPassBlurred=true">
        </label>
        <div class="error item-input" ng-show="loginForm.password.$dirty && loginForm.password.$invalid && isPassBlurred">
          <small ng-show="loginForm.password.$error.required"> Your password is required.</small>
          <small ng-show="loginForm.password.$error.minlength"> Your password is required to be at least 5 characters</small>
          <small ng-show="loginForm.password.$error.maxlength"> Your password cannot be longer than 20 characters </small>
        </div>
      </div>

  </ion-content>
  <ion-footer-bar>
    <div class="button-bar" >
      <button class="button button-positive" type="submit" ng-disabled="loginForm.$invalid">Log in</button>
      <button class="button  button-positive" ng-click="join()">Join for FREE!</button>
    </div>
  </ion-footer-bar>
  </form>
</div>

