<div class="modal" ng-controller="IdeaTypeaheadCtrl">

  <ion-header-bar>
    <h1 class="title">Add Idea</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddIdeaModal()">close</button>
    </div>
  </ion-header-bar>

  <ion-content>

        <!--<autocomplete ng-model="model.result" attr-placeholder="type to search for ideas ..." click-activation="true" data="ideas" on-type="doSomething" on-select="doSomethingElse"></autocomplete>-->
        <angucomplete-alt id="ex1" placeholder="type to see suggestions" pause="100"
                          selected-object="selectedIdea" local-data="ideas"
                          search-fields="name" title-field="name" minlength="1"
                          input-class="form-control " match-class="highlight"
                          override-suggestions="true" clear-selected="true">
        </angucomplete-alt>




  </ion-content>

  <ion-footer-bar>
      <div class="button-bar" >
          <button class="button button-positive" ng-click="saveSelectedIdea(); doAddIdea() ">Save</button>
      </div>
  </ion-footer-bar>

</div>

