<ion-view title="Let's Meet" >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!--<form name="joinForm" ng-submit="doJoin(model)" >-->
    <ion-content class="has-header" >

        <div class="item item-divider item-button-right">
            What are you in mood for?
            <button class="button button-small button-icon custom-button-icon-small" ng-click="data.showDelete = !data.showDelete" ng-disabled="isEmpty(selectedIdeas)">
                <i class="icon ion-minus-circled"></i>
            </button>
        </div>

        <div ng-controller="IdeaTypeaheadCtrl" class="suggest-box" angucomplete-alt id="ex1" placeholder="type to see suggestions" pause="100" selected-object="doAddIdea"
                    local-data="ideas" search-fields="name" title-field="name" minlength="1" input-class="form-control"
                    match-class="highlight" override-suggestions="true" clear-selected="true">
        </div>

        <ion-list show-delete="data.showDelete" can-swipe="true">
            <ion-item ng-repeat="(key,value) in selectedIdeas">
                {{key}}
                <ion-delete-button class="ion-minus-circled" ng-click="doDeleteIdea(key)"></ion-delete-button>
                <ion-option-button class="ion-minus-circled" ng-click="doDeleteIdea(key)">Delete</ion-option-button>
                <ion-option-button class="ion-edit" ng-click="openEditIdeaItemModal(key)">Edit</ion-option-button>
            </ion-item>
        </ion-list>

        <div class="item item-divider">When?</div>

        <div ng-controller="DateUtilCtrl" >

            <div class="item item-input item-select ">
                <div class="input-label">Date:</div>
                <select ng-model="selectedDate" ng-options="dateOption.from as dateOption.name for dateOption in dateOptions"></select>
            </div>

            <label class="item item-input item-select" ng-show="selectedDate===null">
                <span class="input-label">from</span>
                <input type="date" min="{{todayAsStr}}" max="{{nextYearAsStr}}">
            </label>

            <label class="item item-input item-select" ng-show="selectedDate===null">
                <span class="input-label">to</span>
                <input type="date" min="{{todayAsStr}}" max="{{nextYearAsStr}}">
            </label>

            <div class="item item-input item-select">
                <div class="input-label">Time:</div>
                <select ng-model="selectedTime" ng-options="timeOption.from as timeOption.name for timeOption in timeOptions"></select>

            </div>

            <label class="item item-input padding-bottom13">
                <span class="input-label">from</span>
                <input type="time">
            </label>

            <label class="item item-input padding-bottom13">
                <span class="input-label">to</span>
                <input type="time">
            </label>
        </div>

        <div class="item item-divider">Where?</div>








    </ion-content>
    <ion-footer-bar>
        <div class="button-bar" >
            <button class="button button-positive" type="submit" ng-disabled="joinForm.$invalid">Save</button>
        </div>
    </ion-footer-bar>
    <!--</form>-->
</ion-view>
