<div class="modal">
  <ion-header-bar>
    <h1 class="title">Add Ideas</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddIdea()">close</button>
    </div>
  </ion-header-bar>
  <ion-content>

      <div class="item item-divider item-button-right" ng-controller="MyCtrl">
          <autocomplete ng-model="result" attr-placeholder="type to search for ideas ..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete>

          <button class="button button-small button-icon custom-button-icon-small" ng-click="addIdea()">
              <i class="icon ion-plus-round custom-ion-android-add"></i>
          </button>

          <br><br><br><br><br><br><br>
      </div>




      <div ng-controller="MyCtrl">
        <autocomplete ng-model="result" attr-placeholder="type to search for ideas ..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete>

          <button class="button button-small button-icon custom-button-icon-small item-button-right" ng-click="addIdea()">
              <i class="icon ion-plus-round custom-ion-android-add"></i>
          </button>

        <br><br><br><br><br><br><br>
      </div>

      <form name="loginForm" ng-submit="doLogin()">




      <div class="list">


          <!--<label class="item item-input">-->
              <!--<i class="icon ion-search placeholder-icon"></i>-->
              <!--<input type="text" placeholder="Search">-->
          <!--</label>-->

        <!--<label class="item item-input">-->
          <!--<span class="input-label">Username</span>-->
          <!--<input type="text" autofocus="" ng-model="loginData.login" name="login" placeholder="email / login" required ng-minlength=5 ng-maxlength=20 ng-blur="isLoginBlurred=true">-->
        <!--</label>-->
        <!--<div class="error item-input" ng-show="loginForm.login.$dirty && loginForm.login.$invalid && isLoginBlurred">-->
          <!--<small ng-show="loginForm.login.$error.required"> Your username is required.</small>-->
          <!--<small ng-show="loginForm.login.$error.minlength"> Your username is required to be at least 5 characters</small>-->
          <!--<small ng-show="loginForm.login.$error.maxlength"> Your username cannot be longer than 20 characters </small>-->
        <!--</div>-->

        <!--<label class="item item-input">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" ng-model="loginData.password" name="password" required ng-minlength=5 ng-maxlength=20 ng-blur="isPassBlurred=true">-->
        <!--</label>-->
        <!--<div class="error item-input" ng-show="loginForm.password.$dirty && loginForm.password.$invalid && isPassBlurred">-->
          <!--<small ng-show="loginForm.password.$error.required"> Your password is required.</small>-->
          <!--<small ng-show="loginForm.password.$error.minlength"> Your password is required to be at least 5 characters</small>-->
          <!--<small ng-show="loginForm.password.$error.maxlength"> Your password cannot be longer than 20 characters </small>-->
        <!--</div>-->




        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid">Save</button>
        </label>
      </div>
    </form>

  </ion-content>
</div>

