<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >


    <div class="list card">

      <div class="item item-avatar custom">
        <img src="mcfly.jpg">
        <h2>Jay Yu is free</h2> <p><small>from this weekend in the evenings</small></p>
      </div>

      <div class="item item-body custom">
        <!--<img class="full-image" src="delorean.jpg">-->
        <b>Where:</b> <small>Meteron, Castro, Asdfasda, asdfasfads, sadfasdfas</small>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-wand"></i>
          Suggest (3)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment (5)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share (1)
        </a>
      </div>

    </div>


    <div class="list card">

      <div class="item item-avatar custom">
        <img src="mcfly.jpg">
        <h2>Ian McDonal is free</h2> <p><small>this weekend.</small></p>
      </div>

      <div class="item item-body custom">
        <!--<img class="full-image" src="delorean.jpg">-->
        <b>Where:</b> <small>Open to suggestion</small>
        <p></p>
        <b>Time:</b> <small>from 6pm</small>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-wand"></i>
          Suggest (1)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment (2)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share (0)
        </a>
      </div>

    </div>



    <div class="list card">

      <div class="item item-avatar custom">
        <img src="mcfly.jpg">
        <h2>May Sue Yu is free</h2> <p><small>this Friday</small></p>
      </div>

      <div class="item item-body custom">
        <!--<img class="full-image" src="delorean.jpg">-->
        <b>Where:</b> <small>Keven's house</small>
        <p></p>
        <b>What:</b> <small>Birthday party</small>
        <p></p>
        <b>Time:</b> <small>Open to suggestion</small>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-wand"></i>
          Suggest (12)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment (9)
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share (5)
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
